{% extends 'starter-page.html' %}
{% block content %}
{% load static %}
    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Here are the details regarding my qualifications and professional experience.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Software Engineering</h4>
              <h5>2009 - 2013</h5>
              <p><em>Fatima Jinnah Women University, The Mall, Rawalpindi.</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Bachelor of Education</h4>
              <h5>2016 - 2018</h5>
              <p><em>Allama Iqbal Open University, Islamabad.</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>HIGHER SECONDARY SCHOOL CERTIFICATE (Pre-Engineering)</h4>
              <h5>2007 - 2009</h5>
              <p><em>IMCG,F-10/2(P.G), Islamabad.</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>SECONDARY SCHOOL CERTIFICATE (SSC)</h4>
              <h5>2005 - 2007</h5>
              <p><em>IMCG,G-9/3, Islamabad.</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div><!-- Edn Resume Item -->
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior Computer Teacher</h4>
              <h5>2018 - 2025</h5>
              <p><em>IMS(I-V) No.1, G-7/2,Islamabad,under FDE, Islamabad </em></p>
              <ul>
                <li>Taught Computer Science and Mathematics (Class 1 to 5).</li>
                <li>Designed age-appropriate lesson plans (FDE curriculum aligned). </li>
                <li>Managed and maintained the IT Lab.</li>
                <li>Created and organized the school timetable.</li>
                <li>Assisted in administrative work (records, coordination with FDE).</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Computer Science Teacher (Internee)</h4>
              <h5>2016 - 2017</h5>
              <p><em>IMCG(P.G),F-10/2, Islamabad.</em></p>
              <ul>
                <li>Worked through the National Internship Program (NIP)</li>
                <li>Taught students of class 6, 7, 8, and First Year.</li>
                <li>Assisted in administrative work.</li>
      
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  {% endblock %}  